name: Lint & Package Quality

on:
  pull_request:
  push:
    branches-ignore: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Install pnpm
        run: corepack enable && corepack prepare pnpm@latest --activate
      - name: Install dependencies
        run: pnpm install --frozen-lockfile --shamefully-hoist
      - name: Lint package.json and metadata
        run: pnpm run lint:package
      - name: Type & package lint
        run: pnpm run lint:types
