name: Publish Package

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          registry-url: 'https://registry.npmjs.org/'
      - name: Install pnpm
        run: corepack enable && corepack prepare pnpm@10.26.0 --activate
      - name: Install dependencies
        run: pnpm install --frozen-lockfile --shamefully-hoist
      - name: Build
        run: pnpm run build
      - name: Run tests
        run: pnpm run test
      - name: Publish to npm
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: pnpm publish --access public
